# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np
import random

In [11]:
data = {'國家': ["A", "B", "C", "D"],
        '人口': [random.randint(0, 10**10) for _ in range(4)]}
df = pd.DataFrame(data)
df

  國家          人口
0  A  3115925761
1  B  1475621392
2  C  9232956701
3  D  3526715686

In [21]:
df.sort_values(by=['人口'], ascending=False).head(1)

  國家          人口
2  C  9232956701